* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

.container {
    display: flex;
    
    
}

.item-1 {
    display: flex;
    width: 50%;
    padding-top: 20px;
    justify-content: center; /* Tengah secara horizontal */
    align-items: center; /* Tengah secara vertikal */
   
}

.item-2 {
    background-color: #5a78fe;
    width: 50%;
    padding-top: 20px;
}

.btn {
    display: block;
    text-align: center;
    padding: 9px 4px;
    width: 120px;
    height: 36px;
    background-color: #5a78fe;
    color: #fff;
    border-radius: 18px;
    font-weight: bold;
    text-decoration: none; /* Menghapus garis bawah pada <a> */
}

.btn:hover {
    background-color: #879DFD;
}




.content div {
    padding: 10px 0;
}

.content h1 {
    font-family: "Playfair Display", serif;
}

.subtitle {
    font-weight: bold;
    text-transform: uppercase;
    color: #5a78fe;
}

.image {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
}

nav ul li a {
    text-decoration: none; /* Menghapus garis bawah pada <a> */
    color: #fff;
    margin: 6px;
    text-transform: uppercase;
    font-weight: bold;

}

nav ul li a:hover {
    color: #879DFD;
}

